<component name="ArtifactManager">
  <artifact type="war" name="Mybatis02:war">
    <output-path>$PROJECT_DIR$/Mybatis02/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Mybatis02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Mybatis02-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Mybatis02:war exploded" />
    </root>
  </artifact>
</component>